@using MahjongFirstShot.Models
@using MahjongFirstShot.Utils

<div class="dora">
    <label>
        王牌:
    </label>

    <div class="tile-container">
        @for (int i = 1; i <= 2; i++)
        {
            <img src="images/tiles/ura-green.png" alt="ura-green" />
        }

        @{
            var doraFileName = TileUtils.FileName(Dora());

            <img src="images/tiles/@(doraFileName).png" alt="@doraFileName" />
        }

        @for (int i = 1; i <= 4; i++)
        {
            <img src="images/tiles/ura-green.png" alt="ura-green" />
        }
    </div>
</div>

<div class="hand">
    <label>
        手牌:
    </label>

    <div class="tile-container">
        @foreach (var tile in HandTiles())
        {
            var id = tile.Id;
            var fileName = TileUtils.FileName(tile);

            <img class="tile @(darkTiles.Contains(id) ? "dark" : "")"
            src="images/tiles/@(fileName).png"
            alt="@fileName"
            @onclick="() => ToggleDark(id)" />
        }
    </div>
</div>

<button class="btn btn-primary" @onclick="NewWall">次の配牌へ</button>

@code {
    private Wall Wall { get; set; } = null!;
    private HashSet<int> darkTiles = new();

    protected override void OnInitialized()
    {
        NewWall();
    }

    private void NewWall()
    {
        Wall = new Wall();
        darkTiles.Clear();
    }

    private IEnumerable<Tile> HandTiles()
    {
        return Wall.WallTileIds.Take(14).Order().Select(x => new Tile(x));
    }

    private Tile Dora()
    {
        var id = Wall.DeadWallTileIds.First();
        return new Tile(id);
    }

    private void ToggleDark(int id)
    {
        if (darkTiles.Contains(id))
        {
            darkTiles.Remove(id);
        }
        else
        {
            darkTiles.Add(id);
        }
    }
}
