.tile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    width: 100%;
}

    .tile-container img {
        flex: 1 1 auto;
        max-width: calc(100% / 14);
        height: auto;
        object-fit: contain;
    }
