@page "/counter"

@if (Tiles.Any())
{
    <div class="tile-container">
        @foreach(var tile in Tiles )
        {
            var fileName = TileUtils.FileName(tile);
            var imageFileName = $"{fileName}.png";

            <img src="images/tiles/@imageFileName" alt="@fileName" />
        }
    </div>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private readonly List<Tile> Tiles = [];

    private void IncrementCount()
    {
        Tiles.Clear();
        Tiles.AddRange(ShuffleItems().Take(14).Order().Select(x => new Tile(x)));
    }
}
